<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Email Sent - Toiler</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon-32.png'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mainlogin.css' %}">

</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="card">
            <div class="row" style="margin: 0">
                <div class="px-3 px-sm-5 pt-5 pb-4 py-md-5">
                    <span class="login100-form-title">
                    Email has been sent
                    </span>
                    We send a link to you.<br>
                    Please <strong>check your inbox</strong> in order to reset your password.<br><br>
                    <small>If you don't receive email, please make sure you've entered the address you registered with,<br>
                        and check your spam folder.</small>
                    <div class="container-login100-form-btn">
                        <a href="{% url 'login' %}">
                            <button class="login100-form-btn" style="min-width: 150px">
                            Login
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/assets/scripts/loginjs.js'%}"></script>

</body>
</html>